/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


@import url('https://fonts.googleapis.com/css?family=Dosis:300,500,600,700|Lobster+Two:400i&subset=latin-ext');
html {
    color: #23080c;
    font-size: 1em;
    line-height: 1.4;
}
/*ovo uvek stavljam na pocetku::: font-size: 62.5% za realnu veličinu;*/
body {
    font-size: 62.5%;
    color: #23080c;
    font-family: 'Dosis';

    width: 100%;
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'Lobster Two', cursive;
    font-style: italic;
        }
h1 { font-size: 6.25em;
    margin:40px 0px 0px; }
h2 { font-size: 3.43em; 
    margin:0;}
h3{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
  }
p{
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 2em;
}
ul {
    margin: 0;
    padding: 0;
}
.boja {
    color: #a7204e;
}
.navigacija {
    font-weight:500;
}
section {
    /*max-width: 1000px;*/
    /*max-width: 1366px;*/
    /*nije potrebno na sekciji samo na containeru sirina*/
    margin: 0 auto;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   /* max-width: 1099px;*/
   max-width: 1000px;
}
a {
    text-decoration: none;
}
.slike{
    list-style: none;
    }

.hero {
    /*background-image: url(../img/mob1.jpg);*/
    /*background-size: 100%;*/
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    min-height: 350px;
    background-size: cover;
}

.prvi_slajd{
    background-image: url(../img/mob1.jpg);
}
.drugi_slajd{
    background-image: url(../img/mob1.jpg);
}
.treci_slajd{
    background-image: url(../img/mob1.jpg);
}
/* ======== flex slajder================== :*/

.flex-control-nav{
    bottom: 16px;
}

.flex-control-paging li a.flex-active {
        background: #a7204e;
    cursor: default;
    /*border: 3px solid green;*/
    border: 3px solid rgba(255, 255, 255, .64);
}
.flex-control-paging li a{
    background:rgba(255, 255, 255, .64);
    box-shadow: none;
}
.flex-control-paging li a:hover{
    background: #a7204e;
}
.flexslider {
    margin: 0px;
}

/* ======== PONUDA START================== :*/
.ponuda_sec{
    padding-top: 30px;
}
.izbor_ponude {
    font-size: 2.8em;
}
.naslov_ponuda {
    max-width: 551px;
    margin: 0 auto;
    text-align: center;
}
.podnaslov_ponude{
    font-size: 2.2em;
    vertical-align: middle;
}
.ponuda_sve3 p{
    font-size: 2em;
}
.izbor_ponude {
    font-weight: 500;
    background: #f34949;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    padding: 2px 27px;
    margin: 0 5px;
}
.izbor_ponude:hover,
.izbor_ponude.aktivno {
    background-color: #ebcfcf;
    border-radius: 50px 50px 50px 50px;
}

/*#organizacija, #dekoracija {
    display: none;
}*/

.dugmad_ponude {
    text-align: center;
    margin: 30px 0;
}
.deo_ponude img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.deo_ponude {
    /*width: 30%;*/
    width: 300px;
}
.ponuda {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* ======== PONUDA END========== :*/


/* ======== GaleRIJA START================== :*/
.slike {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.slike img{
    padding: 15px;
    max-width: 300px;
    max-width: 300px;
}
.galerija {
    position: relative;
    padding: 100px 0;
    /*overflow: hidden;*/
}
.galerija:before/*,
.galerija:after*/ {
    content: '';
    position: absolute;
    background: #efe1de;
    width: 100%;
    height: 97%;
    transform: skewY(14.5deg);
    z-index: -2;
}
.galerija:before {
    top: 3%;
    content:'';
}
.galll:before{
    /*content:url(../img/cveticmanji.png);*/
    content: "";
    /*left: 30%;*/
    left: 0;
    top:-2%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background:url(../img/cveticmanji.png) no-repeat;
}
.galll:after{
    content:url(../img/cveticdrugimanji.png);
    left: -60%;
    top: 95%;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: -1;
}
/* ======== GALERIJA END========== :*/


/* ======== O NAMA -START========== :*/
.naslov_gal_nam{
    text-align: center;
     padding-bottom: 30px;
     padding-top: 80px;
}
.podnaslov{
    text-align: center;
     padding-bottom: 40px;
     font-size:2.5em;
    margin: 0;
}
.krugovi {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.krug_tekst{
    text-align: center;
    /*width: 200px;*/
    padding-bottom: 50px;
}
.krug {
    background-image: url(../img/krug3.jpg);
    background-size: 100%;
    height: 180px;
    width: 180px;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: table-cell;
    font-size: 4em;
    font-weight: 600;
    color: #efe1de;
    margin: auto;
    border-radius: 50%;
}
/* ======== O NAMA -END========== :*/


/* ======== FUTER START ================== */

.footer_lista img {
    color: red;
}
.footer_lista p{
    justify-content: center;
    display: flex;
    margin: 0;
}
.razmak {
    padding-bottom: 15px;
}
/* ======== FUTER end ================== */




/* ======== HEADER ================== mobile:*/
header {
    padding: 13px 0 8px;
}
nav {
    display: table;
    display: none;  /*=== kad ovo zakomentarisem pojavi se mobilni meni ========== mobile:*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff2f1;
    text-align: center;
    }
.linija_navigacije {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    margin: 0;
    padding: 50px 0;
}
nav li{
    margin-top: 10px;
}
nav a {
    color: #23080c;
    font-size: 3em;
    line-height: 60px;
    padding: 8px 40px;
    font-weight: 300;
}
nav .close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    margin: 0;
    background: transparent;
    border: none;
}
/* ====== prvi deo iksica \  x  :*/
nav .close span {
    width: 35px;
    height: 2px;
    background: #d2b9b9;
    display: block;
    transform: rotate(45deg);
}
/* ====== drugi deo iksica / x    :*/
nav .close span:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
}
.header_logo {
    display: inline-block;
}
.burger {
    width: 44px;
    height: 25px;
    padding: 5px 0;
    float: right;
    margin-top: 12px;
    background: transparent;
    border: none;
}
.burger span {
    width: 100%;
    height: 2px;
    background-color: #23080c;
    display: block;
    margin-top: 9px;
}
.burger span:nth-child(1) {
    margin-top: 0;
}
.btn{
    background-color: #a7204e;
    color: #ffffff;
    border-radius: 50px 50px 50px 50px;
    font-size: 3em;
}
.CTA {
    background-color: #a7204e;
    color: #ffffff;
    border-radius: 50px 50px 50px 50px;
    font-size: 2.5em;
    padding:8px 40px;
    white-space: nowrap;
}
.cta_center {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    text-align: center; 
    max-width: 200px;
    display: block;
    padding: 8px 0px;
    }

    /* ======== HEADER END ========== */

/* ======== FUTER START ================== */
.futer_sect ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        list-style: none;
        padding-top: 45px;
}
.futer_sect li{
    padding-right: 16px;
}
.futer_sect {
    padding: 50px 0;
    background-color: #efe1de;
}
.razmak1{
    padding-bottom: 15px;
}
.razmak {
    padding-bottom:45px;
}
/* ======== FUTER END ========== */



/* ======== Modal  ========== */
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(239,217,212,.6);
}
.modal.open {
    display: block;
}
.modal-wrap {
    max-width: 750px;
    width: 90%;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow-y: auto;
}
/*.modal-wrap .close12 span {
    background-color: #ebcfcf;
}*/
.modal-wrap h3 {
    text-align: center;
    font-family: 'Dosis';
    font-weight: 300;
}
.modal-inner {
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
}
input {
    border:none;
    border-bottom: 3px solid #ebcfcf;
    /*width: 100%;*/
    width: calc(100% - 40px); /* ===cals proracunava: 100% minus levi i desni padding po 20px==== */
    padding: 5px 15px;
    margin-bottom: 20px;
    font-size: 2.2em;
}
input::placeholder {
  color: #b37e7e;
  font-weight: 300;
}
input.btn {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    padding: 13px 15px;
    border: none;
    font-size: 2.6em;
    font-family: 'Dosis';
    font-weight: 300;
}
.vise{
    background-color: #ebcfcf;
    min-height: 70px;
    margin-bottom: 35px;
}
/* ======== tri dugmeta ponude u modalu start ========== */
.ponuda_modal {
    list-style: none;
    font-size: 2.4em;
    font-weight: 300;
}
.ponuda_modal li {
    display: inline-block;
    margin-right: 15px;
    padding-bottom: 20px;
}
.ponuda_modal input {
    visibility:hidden;
    display: none;
}
label {
    cursor: pointer;
    padding:8px 20px;
}
input:checked + label {
    background: #ebcfcf;
    border-radius: 50px;
    width: 800px;
}
/* ======== tri dugmeta ponude u modalu  end  ========== */

/* ispod je Close button za modal: */
.close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    margin: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.close:active {
    outline: 0;
}
.close span {
    width: 35px;
    height: 2px;
    background: #ebcfcf;
    display: block;
    transform: rotate(45deg);
}
.close span:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
}
/* ======== Modal end  ========== */


@media only screen and (min-width: 600px) {
/* ===odnosi se na minimalnu sirinu ekrana od 600px i VECE ekrane=== */

 /* ======== GALERIJA ========== */
.hero {
    /*background-image: url(../img/1.jpg);*/
    /*background-size: 100%;*/
    background-repeat: no-repeat;
    background-position: center;
    padding:80px;
    min-height: 350px;
    background-size: cover;
}
.prvi_slajd{
    background-image: url(../img/1.jpg);
}
.drugi_slajd{
    background-image: url(../img/2.jpg);
}
.treci_slajd{
    background-image: url(../img/3.jpg);
}

.galerija:before{
    height: 94%;
    transform: skewY(14.5deg);
    /*top: 6%;*/
    top:9%;
    }
.galll:before{
    content: "";
    left: 0;
    top:-2%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../img/srednjaD.png) no-repeat;
}
.galll:after{
    content:url(../img/srednjaL.png);
    left: -30%;
    top: 95%;
    }
}
/* ======== GALERIJA END ========== */


@media only screen and (min-width: 1024px) {
    /* ===odnosi se na ekrane sa minimalnom sirinom od 1024px i za vece od toga ekrane=== */
    /* ======== HEADER ========== web */
    header {
        padding: 25px 0 10px;
    }
    nav {
        display: block;
        position: initial;
        width: auto;
        height: auto;
        background: inherit;
        float: right;
    }
    .linija_navigacije {
        margin: 0;
        padding: 0;
    }
    nav li {
        float: left;
        margin-top: 0px;
    }
    nav a {
        color: #23080c;
        margin-left: 10px;
        padding: 5px 10px;
        font-weight: 500;
    }
    nav a.active,
    nav a:hover {
        color: #23080c;
        border-bottom: 2.5px solid #a7204e;
    }
    nav a,
    nav a.btn {
        font-size: 1.8em;
    }
    .burger,
    nav .close,
    .btn
    {
        display: none;
    }
    .CTA {
    background-color: #a7204e;
    color: #ffffff;
    border-radius: 50px;
    font-size: 2.5em;
    padding:8px 40px;
    }
    .cta_center {
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            text-align: center; 
            max-width: 200px;
            display: block;
            padding: 8px 0px;
    }

/* ======== HEADER END ========== */
.hero {
    padding: 5% 15%;
}
/* ======== GAlerija ========== */
.galll:before{
    content:"";
    left: 56%;
    top:-25%;
    width: 100%;
    height: 100%;
    background: url(../img/cvetic.png) no-repeat;
}
.galll:after{
    content:url(../img/cveticdrugi.png);
    left: -25%;
    top: 80%;
    width: 100%;
    height: 50%;
}
/* ======== GALERIJA END ========== */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/*
 * pitanje: posto nemam u dizajnu hr da li ovo da obrisem iz ovog fajla]
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
